<div class="dashboard-container">

  <h1>Gold & Silver Daily Rates</h1>
  <p class="subtitle">Daily precious metal rate dashboard</p>

  <div class="action-row">
    <button (click)="loadDashboard()">Refresh Rates</button>
  </div>

  <p *ngIf="loading" class="loading">Loading rate data...</p>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <div class="cards">
    <div class="rate-card" *ngFor="let rate of rates">
      <h2>{{ rate.metal }}</h2>

      <p class="price">
        ₹{{ rate.todayRate }} / {{ rate.unit }}
      </p>

      <p>
        Yesterday: ₹{{ rate.yesterdayRate }}
      </p>

      <p [class.positive]="rate.change > 0"
         [class.negative]="rate.change < 0">
        Change:
        {{ rate.change > 0 ? '+' : '' }}{{ rate.change }}
        ({{ rate.changePercent }}%)
      </p>
    </div>
  </div>

  <div class="prediction-section">

  <div class="prediction-card" *ngIf="goldPrediction">
    <h2>Gold AI Prediction</h2>

    <p>Latest Price: ₹{{ goldPrediction.latestPrice }}</p>
    <p>Predicted Price: ₹{{ goldPrediction.predictedPrice }}</p>

    <p [class.positive]="goldPrediction.trend === 'UP'"
       [class.negative]="goldPrediction.trend === 'DOWN'">
      Trend: {{ goldPrediction.trend }}
    </p>

    <p>Confidence: {{ goldPrediction.confidence }}%</p>
    <p>Model: {{ goldPrediction.model }}</p>

    <p *ngIf="goldPrediction.featuresUsed">
      Features:
      {{ goldPrediction.featuresUsed.join(', ') }}
    </p>
    <p *ngIf="goldPrediction?.error" class="error">
      {{ goldPrediction.error }}
    </p>
  </div>

  <div class="prediction-card" *ngIf="silverPrediction">
    <h2>Silver AI Prediction</h2>

    <p>Latest Price: ₹{{ silverPrediction.latestPrice }}</p>
    <p>Predicted Price: ₹{{ silverPrediction.predictedPrice }}</p>

    <p [class.positive]="silverPrediction.trend === 'UP'"
       [class.negative]="silverPrediction.trend === 'DOWN'">
      Trend: {{ silverPrediction.trend }}
    </p>

    <p>Confidence: {{ silverPrediction.confidence }}%</p>
    <p>Model: {{ silverPrediction.model }}</p>

    <p *ngIf="silverPrediction.featuresUsed">
      Features:
      {{ silverPrediction.featuresUsed.join(', ') }}
    </p>
    <p *ngIf="silverPrediction?.error" class="error">
      {{ silverPrediction.error }}
    </p>
    
  </div>
  

</div>

  <div class="charts-grid">

    <div class="chart-card">
      <h2>Gold Price Trend - Last 7 Days</h2>

      <canvas
        baseChart
        [data]="goldChartData"
        [options]="chartOptions"
        [type]="'line'">
      </canvas>
    </div>

    <div class="chart-card">
      <h2>Silver Price Trend - Last 7 Days</h2>

      <canvas
        baseChart
        [data]="silverChartData"
        [options]="chartOptions"
        [type]="'line'">
      </canvas>
    </div>

  </div>

</div>


